<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
 <style type="text/css">
   h1 { position: relative; overflow: hidden; padding: 15px; text-align: left;
        border-style: solid; border-color:#8080ff; background: #8080ff;}
        
   textarea { border: solid  #c2c2d6; border-radius: 0px;
              height: 100px; width: 200px }
            
   .add_btn, .delete_btn, .change_btn
    { background-color:#6666ff; border-color: #6666ff;
      width: 20%; padding: 5px 24px  }
            
   .listBox { width:200px; height: 100px; letter-spacing: 5px }
 </style>
</head>
<body>
 <h1>메뉴 관리</h1>
 
 <p><textarea name="listbox" class="listBox" cols="500"  rows="3000"></textarea></p>
 
<button type="button" class="add_btn">추가</button> 
<button type="button" class="delete_btn">삭제</button>
<button type="button" class="change_btn">수정</button> 
 

</body>
</html>